/*头部样式开始*/
.header{
    width:100%;
    height:55px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    line-height:55px;
}
.header-left{
    float:left;
    width: 179px;
    height: 55px;
    background-color: rgb(195, 211, 124);
    color: #dadada;
}
.header-right{
    float:right;
    width: 138px;
    height: 54px;
    border-left: 1px solid #fcfafa;
    background-color: #2d8a08;
    color: #dadada;
}
/*头部样式结束*/
/*导航样式开始*/
.nav{
    width:100%;
    height:60px;
    line-height: 60px;
    /*背景图片不平铺 位置是水平居中垂直居上*/
    background:url("../images/nav_bg_69230d91.png") no-repeat center top;
}
/* 下拉列表 */
.nav-list{
    z-index:666px;
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
background:  rgba(37, 37, 37, 0.704)no-repeat center 0;
}
.nav li:hover>.nav-list{
 display: block;
}
.a{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.a{
 display: block;
}
.b{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.b{
 display: block;
}
.c{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.c{
 display: block;
}
.d{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.d{
 display: block;
}
.e{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.e{
 display: block;
}
.f{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.f{
 display: block;
}
.g{
 display: none;
 position: absolute;
 left: 0;
 top: 60px;
 width: 100%;
 height: 140px;
 background: rgba(37, 37, 37, 0.704) no-repeat center 0;
}
.nav li:hover>.h{
 display: block;
}
    .p{
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        height: 140px;
        background: rgba(37, 37, 37, 0.704) no-repeat center 0;
       }
    .nav li:hover>.p{
     display: block;
    }
/*水平居中的容器 不设置高度 高度由内容撑开 因为整个页面水平居中使用同一个class*/
.wrap{
    width:1180px;
    margin:0 auto;
}
.nav li{
    float:left;
    width:84.1px;
    height:70px;
}
.nav a{
    color: #dadada;
    font-size:14px;
}
.nav span{
    font-size:12px;
    margin-left:8px;
}
.nav li:hover>a{
    color:black;
}
.active{
    background-color: bisque no-repeat;
}
.active>a{
    color:black;
}
.active span{
    color:bisque;
}
.nav li:hover{
    background-color: bisque;
}
.nav li:hover span{
    color:bisque;
}   
/*导航样式结束*/
/* banner样式开始 */
.banner{
    position: relative;
    top: -10px;
    width: 100%;
    height: 784px;
    /* 溢出部分隐藏 */
    overflow: hidden;
}
.banner>img{
    /* 子元素在父元素中水平居中 */
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
.logo{
    position: absolute;
    left: 150px;
    top:143px;
    width: 77px;
    height: 247px;
    background-color: rgb(5, 68, 8);
}
.logo>a{
    display: block;
    width: 77px;
    height: 247px;
    background: url("../images/200.webp") no-repeat;
    background-size: 100%;
}
/* banner样式结束 */
/*主体样式开始*/
.container{
    width: 1180px;
    margin:43px auto 0;
}
/*平安世界样式开始*/
.world{
    width:100%;
    height:670px;
    margin-bottom: 70px;
    background-color: brown;
}
.world-title{
    width:80px;
    height:145px;
    background-color: #d3b5b5;
    background-position: -835px -532px;
    float:left;
}
.world-title-right{
    width:1100px;
    height:145px;
    background-color:rgb(213, 141, 33);
    float:right;
}
.world-box{
    width:100%;
    height:520px;
    background-color: pink;
}
.world-top{
    width:100%;
    height:150px;
    background-color: #dadada;
}
.world-box img{
    width:100%;
    height:520px;
}
/*平安世界样式结束*/
/*主体样式结束*/ 
/*平安世界样式开始1*/
.world1{
    width:100%;
    height:670px;
    margin-bottom: 70px;
    background-color: brown;
}
.world-title1{
    width:80px;
    height:145px;
    background-color: #d3b5b5;
    background-position: -835px -532px;
    float:left;
}
.world-title-right1{
    width:1100px;
    height:145px;
    background-color:rgb(213, 141, 33);
    float:right;
}
.world-box1{
    width:100%;
    height:520px;
    background-color: pink;
}
.world-top1{
    width:100%;
    height:150px;
    background-color: #dadada;
}
.world-box1 img{
    width:100%;
    height:520px;
}
/*平安世界样式结束1*/
/*平安世界样式开始2*/
.world2{
    width:100%;
    height:670px;
    margin-bottom: 70px;
    background-color: brown;
}
.world-title2{
    width:80px;
    height:145px;
    background-color: #d3b5b5;
    background-position: -835px -532px;
    float:left;
}
.world-title-right2{
    width:1100px;
    height:145px;
    background-color:rgb(213, 141, 33);
    float:right;
}
.world-box2{
    width:100%;
    height:520px;
    background-color: pink;
}
.world-top2{
    width:100%;
    height:150px;
    background-color: #dadada;
}
.world-box2 img{
    width:100%;
    height:520px;
}
/*平安世界样式结束2*/
/*平安世界样式开始3*/
.world3{
    width:100%;
    height:670px;
    margin-bottom: 70px;
    background-color: brown;
}
.world-title3{
    width:80px;
    height:145px;
    background-color: #d3b5b5;
    background-position: -835px -532px;
    float:left;
}
.world-title-right3{
    width:1100px;
    height:145px;
    background-color:rgb(213, 141, 33);
    float:right;
}
.world-box3{
    width:100%;
    height:520px;
    background-color: pink;
}
.world-top3{
    width:100%;
    height:150px;
    background-color: #dadada;
}
.world-box3 img{
    width:100%;
    height:520px;
}
/*平安世界样式结束2*/
/*主体样式结束*/ 